localstack:
  image: "760097843905.dkr.ecr.eu-west-1.amazonaws.com/localstack/localstack"
  environment:
    - SERVICES=sqs
  ports:
    - "4566:4566"
dynamodb:
  image: "public.ecr.aws/aws-dynamodb-local/aws-dynamodb-local"
  ports:
    - "45678:8000"
