{
  "recorded_with": "betamax/0.8.1",
  "http_interactions": [
    {
      "recorded_at": "2019-03-22T15:12:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ]
        },
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests/doesnotexist",
        "method": "GET"
      },
      "response": {
        "url": "https://api.wellcomecollection.org/storage/v1/ingests/doesnotexist",
        "body": {
          "encoding": null,
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"httpStatus\":405,\"description\":\"HTTP method not allowed, supported methods: POST\",\"label\":\"Method Not Allowed\",\"type\":\"Error\"}"
        },
        "headers": {
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "Content-Type": [
            "application/json"
          ],
          "x-amzn-Remapped-Date": [
            "Fri, 22 Mar 2019 15:12:27 GMT"
          ],
          "x-amz-apigw-id": [
            "W8w2NEeEjoEFh7g="
          ],
          "x-amzn-RequestId": [
            "e74d7c32-4cb4-11e9-a66a-e1a12ad8aac0"
          ],
          "Allow": [
            "POST"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ]
        },
        "status": {
          "message": "Method Not Allowed",
          "code": 405
        }
      }
    }
  ]
}