{
  "http_interactions": [
    {
      "recorded_at": "2019-03-27T14:37:33",
      "response": {
        "body": {
          "string": "{\"access_token\":\"<ACCESS_TOKEN>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}",
          "encoding": "UTF-8"
        },
        "headers": {
          "x-amz-cognito-request-id": [
            "e2d2ffc9-8866-466f-a3a5-d2fe6fcd8dfe"
          ],
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ]
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token",
        "status": {
          "message": "OK",
          "code": 200
        }
      },
      "request": {
        "body": {
          "string": "grant_type=client_credentials",
          "encoding": "utf-8"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      }
    },
    {
      "recorded_at": "2019-03-27T14:37:33",
      "response": {
        "body": {
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"httpStatus\":500,\"label\":\"Server Error\",\"type\":\"Error\"}",
          "encoding": null
        },
        "headers": {
          "x-amzn-Remapped-Date": [
            "Wed, 27 Mar 2019 14:37:33 GMT"
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "db7c3a5c-509d-11e9-af53-155902a70a0a"
          ],
          "Content-Type": [
            "application/json"
          ],
          "x-amz-apigw-id": [
            "XNKbFHOZjoEF8pA="
          ],
          "Allow": [
            "POST"
          ]
        },
        "url": "https://api.wellcomecollection.org/storage/v1/ingests/trigger_server_error",
        "status": {
          "message": "Server Error",
          "code": 500
        }
      },
      "request": {
        "body": {
          "string": "",
          "encoding": "utf-8"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests/trigger_server_error"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}