{
  "recorded_with": "betamax/0.8.1",
  "http_interactions": [
    {
      "response": {
        "body": {
          "string": "\"Storage manifest not found!\"",
          "encoding": null
        },
        "headers": {
          "x-amzn-RequestId": [
            "f4ee93ec-4fbd-11e9-bd09-5d5e4337e561"
          ],
          "x-amzn-Remapped-Content-Length": [
            "29"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amz-apigw-id": [
            "XJfpYG5fDoEF6MA="
          ],
          "x-amzn-Remapped-Date": [
            "Tue, 26 Mar 2019 11:54:49 GMT"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "url": "https://api.wellcomecollection.org/storage/v1/bags/alex-testing/doesnotexist",
        "status": {
          "message": "Not Found",
          "code": 404
        }
      },
      "recorded_at": "2019-03-26T11:54:49",
      "request": {
        "uri": "https://api.wellcomecollection.org/storage/v1/bags/alex-testing/doesnotexist",
        "body": {
          "string": "",
          "encoding": "utf-8"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ]
        },
        "method": "GET"
      }
    }
  ]
}