{
  "http_interactions": [
    {
      "recorded_at": "2019-03-27T14:37:32",
      "response": {
        "body": {
          "string": "{\"access_token\":\"<ACCESS_TOKEN>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}",
          "encoding": "UTF-8"
        },
        "headers": {
          "x-amz-cognito-request-id": [
            "132801ef-9056-4978-b91e-fff439decb5e"
          ],
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ]
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token",
        "status": {
          "message": "OK",
          "code": 200
        }
      },
      "request": {
        "body": {
          "string": "grant_type=client_credentials",
          "encoding": "utf-8"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      }
    },
    {
      "recorded_at": "2019-03-27T14:37:33",
      "response": {
        "body": {
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"httpStatus\":405,\"description\":\"HTTP method not allowed, supported methods: POST\",\"label\":\"Method Not Allowed\",\"type\":\"Error\"}",
          "encoding": null
        },
        "headers": {
          "x-amzn-Remapped-Date": [
            "Wed, 27 Mar 2019 14:37:33 GMT"
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "db423e80-509d-11e9-b6ae-7d9e08844641"
          ],
          "Content-Type": [
            "application/json"
          ],
          "x-amz-apigw-id": [
            "XNKbCGHZjoEFbZQ="
          ],
          "Allow": [
            "POST"
          ]
        },
        "url": "https://api.wellcomecollection.org/storage/v1/ingests/doesnotexist",
        "status": {
          "message": "Method Not Allowed",
          "code": 405
        }
      },
      "request": {
        "body": {
          "string": "",
          "encoding": "utf-8"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests/doesnotexist"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}