{
  "http_interactions": [
    {
      "recorded_at": "2019-07-09T12:39:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"<ACCESS_TOKEN>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ],
          "x-amz-cognito-request-id": [
            "e83a4cd9-c777-4855-907c-1bb892dcbb22"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token"
      }
    },
    {
      "recorded_at": "2019-07-09T12:39:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests/1e4b384e-857b-49aa-a1cb-6c57762b0c3f"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"httpStatus\":404,\"description\":\"Ingest 1e4b384e-857b-49aa-a1cb-6c57762b0c3f not found\",\"label\":\"Not Found\",\"type\":\"Error\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "x-amz-apigw-id": [
            "cjqkWGeljoEFixw="
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Content-Length": [
            "184"
          ],
          "x-amzn-Remapped-Date": [
            "Tue, 09 Jul 2019 12:39:04 GMT"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "8947e02a-a246-11e9-bf32-b1ee9801f6ba"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://api.wellcomecollection.org/storage/v1/ingests/1e4b384e-857b-49aa-a1cb-6c57762b0c3f"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}