{
  "http_interactions": [
    {
      "recorded_at": "2019-07-09T12:40:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"<ACCESS_TOKEN>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ],
          "x-amz-cognito-request-id": [
            "ec52f783-7b16-4192-b399-22fcf3376e21"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token"
      }
    },
    {
      "recorded_at": "2019-07-09T12:40:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ingestType\": {\"type\": \"IngestType\", \"id\": \"create\"}, \"space\": {\"type\": \"Space\", \"id\": \"digitised\"}, \"type\": \"Ingest\", \"sourceLocation\": {\"type\": \"Location\", \"bucket\": \"testing-bucket\", \"provider\": {\"type\": \"Provider\", \"id\": \"aws-s3-standard\"}, \"path\": \"bagit.zip\"}, \"bag\": {\"type\": \"Bag\", \"info\": {\"type\": \"BagInfo\", \"externalIdentifier\": \"b12345\"}}}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"id\":\"562414f1-2b7f-4447-a148-1239d76e8fbf\",\"sourceLocation\":{\"provider\":{\"id\":\"aws-s3-standard\",\"type\":\"Provider\"},\"bucket\":\"testing-bucket\",\"path\":\"bagit.zip\",\"type\":\"Location\"},\"ingestType\":{\"id\":\"create\",\"type\":\"IngestType\"},\"space\":{\"id\":\"digitised\",\"type\":\"Space\"},\"status\":{\"id\":\"accepted\",\"type\":\"Status\"},\"bag\":{\"info\":{\"externalIdentifier\":\"b12345\",\"type\":\"BagInfo\"},\"type\":\"Bag\"},\"events\":[],\"createdDate\":\"2019-07-09T12:40:45.689821Z\",\"type\":\"Ingest\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Location": [
            "https://api.wellcomecollection.org/storage/v1/ingests/562414f1-2b7f-4447-a148-1239d76e8fbf"
          ],
          "x-amz-apigw-id": [
            "cjq0IFzVDoEFang="
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Content-Length": [
            "525"
          ],
          "x-amzn-Remapped-Date": [
            "Tue, 09 Jul 2019 12:40:45 GMT"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "c581cf6a-a246-11e9-94ad-63220f4cb0b7"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.wellcomecollection.org/storage/v1/ingests"
      }
    },
    {
      "recorded_at": "2019-07-09T12:40:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests/562414f1-2b7f-4447-a148-1239d76e8fbf"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"id\":\"562414f1-2b7f-4447-a148-1239d76e8fbf\",\"sourceLocation\":{\"provider\":{\"id\":\"aws-s3-standard\",\"type\":\"Provider\"},\"bucket\":\"testing-bucket\",\"path\":\"bagit.zip\",\"type\":\"Location\"},\"ingestType\":{\"id\":\"create\",\"type\":\"IngestType\"},\"space\":{\"id\":\"digitised\",\"type\":\"Space\"},\"status\":{\"id\":\"failed\",\"type\":\"Status\"},\"bag\":{\"info\":{\"externalIdentifier\":\"b12345\",\"type\":\"BagInfo\"},\"type\":\"Bag\"},\"events\":[{\"description\":\"Unpacking started\",\"createdDate\":\"2019-07-09T12:40:45.797Z\",\"type\":\"IngestEvent\"},{\"description\":\"Unpacking failed\",\"createdDate\":\"2019-07-09T12:40:45.851Z\",\"type\":\"IngestEvent\"}],\"createdDate\":\"2019-07-09T12:40:45.689Z\",\"type\":\"Ingest\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "x-amz-apigw-id": [
            "cjq0QHZGDoEF9jA="
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Content-Length": [
            "714"
          ],
          "x-amzn-Remapped-Date": [
            "Tue, 09 Jul 2019 12:40:46 GMT"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "c602232b-a246-11e9-91c6-1302f76c506d"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.wellcomecollection.org/storage/v1/ingests/562414f1-2b7f-4447-a148-1239d76e8fbf"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}