{
  "recorded_with": "betamax/0.8.1",
  "http_interactions": [
    {
      "recorded_at": "2019-03-22T15:12:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ]
        },
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests/trigger_server_error",
        "method": "GET"
      },
      "response": {
        "url": "https://api.wellcomecollection.org/storage/v1/ingests/trigger_server_error",
        "body": {
          "encoding": null,
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"httpStatus\":500,\"label\":\"Server Error\",\"type\":\"Error\"}"
        },
        "headers": {
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "Content-Type": [
            "application/json"
          ],
          "x-amzn-Remapped-Date": [
            "Fri, 22 Mar 2019 15:12:27 GMT"
          ],
          "x-amz-apigw-id": [
            "W8w2RH_HjoEFSCw="
          ],
          "x-amzn-RequestId": [
            "e77ca2fc-4cb4-11e9-9b3a-efcfa9a067fe"
          ],
          "Allow": [
            "POST"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ]
        },
        "status": {
          "message": "Server Error",
          "code": 500
        }
      }
    }
  ]
}