{
  "recorded_with": "betamax/0.8.1",
  "http_interactions": [
    {
      "recorded_at": "2019-03-25T14:18:37",
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "Content-Type": [
            "application/json"
          ],
          "x-amz-apigw-id": [
            "XGhxoE_jDoEFdzg="
          ],
          "x-amzn-Remapped-Content-Length": [
            "620"
          ],
          "x-amzn-RequestId": [
            "e1b4dd40-4f08-11e9-a1cb-851346005155"
          ],
          "x-amzn-Remapped-Date": [
            "Mon, 25 Mar 2019 14:18:37 GMT"
          ],
          "Location": [
            "https://api.wellcomecollection.org/storage/v1/ingests/a58cedab-a40d-42a2-b507-954ac04645a3"
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ]
        },
        "body": {
          "encoding": null,
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"id\":\"a58cedab-a40d-42a2-b507-954ac04645a3\",\"sourceLocation\":{\"provider\":{\"id\":\"aws-s3-standard\",\"type\":\"Provider\"},\"bucket\":\"testing-bucket\",\"path\":\"bagit.zip\",\"type\":\"Location\"},\"callback\":{\"url\":\"https://example.org/callback/bagit.zip\",\"status\":{\"id\":\"processing\",\"type\":\"Status\"},\"type\":\"Callback\"},\"ingestType\":{\"id\":\"create\",\"type\":\"IngestType\"},\"space\":{\"id\":\"digitised\",\"type\":\"Space\"},\"status\":{\"id\":\"accepted\",\"type\":\"Status\"},\"events\":[],\"createdDate\":\"2019-03-25T14:18:37.769882Z\",\"lastModifiedDate\":\"2019-03-25T14:18:37.769882Z\",\"type\":\"Ingest\"}"
        },
        "url": "https://api.wellcomecollection.org/storage/v1/ingests"
      },
      "request": {
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "<AUTH_TOKEN>"
          ]
        },
        "body": {
          "encoding": "utf-8",
          "string": "{\"ingestType\": {\"id\": \"create\", \"type\": \"IngestType\"}, \"callback\": {\"url\": \"https://example.org/callback/bagit.zip\", \"type\": \"Callback\"}, \"sourceLocation\": {\"path\": \"bagit.zip\", \"bucket\": \"testing-bucket\", \"provider\": {\"id\": \"aws-s3-standard\", \"type\": \"Provider\"}, \"type\": \"Location\"}, \"space\": {\"id\": \"digitised\", \"type\": \"Space\"}, \"type\": \"Ingest\"}"
        },
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests",
        "method": "POST"
      }
    },
    {
      "recorded_at": "2019-03-25T14:18:38",
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "Content-Type": [
            "application/json"
          ],
          "x-amz-apigw-id": [
            "XGhxrH6IjoEFQoQ="
          ],
          "x-amzn-Remapped-Content-Length": [
            "620"
          ],
          "x-amzn-RequestId": [
   [...]
