{
  "http_interactions": [
    {
      "recorded_at": "2019-08-07T14:46:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"<ACCESS_TOKEN_31>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ],
          "x-amz-cognito-request-id": [
            "0b8d1675-2c88-4508-bbf6-64e1d47c3583"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token"
      }
    },
    {
      "recorded_at": "2019-08-07T14:46:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN_31>"
          ]
        },
        "method": "GET",
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests/025a929b-7ec4-4fe9-836a-a65b39528b09"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"id\":\"025a929b-7ec4-4fe9-836a-a65b39528b09\",\"sourceLocation\":{\"provider\":{\"id\":\"aws-s3-standard\",\"type\":\"Provider\"},\"bucket\":\"wellcomecollection-workflow-export-bagit\",\"path\":\"b31364445.tar.gz\",\"type\":\"Location\"},\"callback\":{\"url\":\"https://workflow.wellcomecollection.org/goobi/api/wellcome/steps/17491/archivecallback/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJHb29iaSIsInN0ZXBJZCI6MTc0OTEsImNoYW5nZVN0ZXBBbGxvd2VkIjp0cnVlLCJleHAiOjE1NjUxNDI1NzR9.-Kc_zjj_7cZidr8zy6m8n3ZEgSruds1kDUU_SqFWrlg\",\"status\":{\"id\":\"failed\",\"type\":\"Status\"},\"type\":\"Callback\"},\"ingestType\":{\"id\":\"create\",\"type\":\"IngestType\"},\"space\":{\"id\":\"digitised\",\"type\":\"Space\"},\"status\":{\"id\":\"failed\",\"type\":\"Status\"},\"bag\":{\"info\":{\"externalIdentifier\":\"b31364445\",\"version\":\"v12\",\"type\":\"BagInfo\"},\"type\":\"Bag\"},\"events\":[{\"description\":\"Unpacking started\",\"createdDate\":\"2019-08-05T12:49:35.051Z\",\"type\":\"IngestEvent\"},{\"description\":\"Unpacking succeeded - Unpacked 250115709 bytes from 607 files\",\"createdDate\":\"2019-08-05T12:50:14.330Z\",\"type\":\"IngestEvent\"},{\"description\":\"Detecting bag root started\",\"createdDate\":\"2019-08-05T12:50:14.749Z\",\"type\":\"IngestEvent\"},{\"description\":\"Detecting bag root succeeded\",\"createdDate\":\"2019-08-05T12:50:15.453Z\",\"type\":\"IngestEvent\"},{\"description\":\"Verification (pre-replicating to[...]
    {
      "recorded_at": "2019-08-07T14:46:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"<ACCESS_TOKEN_34>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ],
          "x-amz-cognito-request-id": [
            "3cf4c02f-22a9-4374-8a53-c71aa4cbeb29"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token"
      }
    },
[...]
