{
  "http_interactions": [
    {
      "recorded_at": "2020-06-01T12:34:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"<ACCESS_TOKEN_37>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ],
          "x-amz-cognito-request-id": [
            "6aee0040-e696-42af-b60c-6f5e0da320cb"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token"
      }
    },
    {
      "recorded_at": "2020-06-01T12:34:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"bag\": {\"info\": {\"externalIdentifier\": \"b12345\", \"type\": \"BagInfo\"}, \"type\": \"Bag\"}, \"sourceLocation\": {\"bucket\": \"testing-bucket\", \"path\": \"bagit.zip\", \"provider\": {\"id\": \"amazon-s3\", \"type\": \"Provider\"}, \"type\": \"Location\"}, \"space\": {\"id\": \"space/with/a/slash\", \"type\": \"Space\"}, \"ingestType\": {\"id\": \"create\", \"type\": \"IngestType\"}, \"type\": \"Ingest\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN_37>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"httpStatus\":400,\"description\":\"Invalid value at .space.id: must not contain slashes.\",\"label\":\"Bad Request\",\"type\":\"Error\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "x-amz-apigw-id": [
            "NctbaGm8DoEF55A="
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Content-Length": [
            "186"
          ],
          "x-amzn-Remapped-Date": [
            "Mon, 01 Jun 2020 12:34:42 GMT"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "aee62bad-1d2f-4d4a-9dcb-f6a575fc65aa"
          ]
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://api.wellcomecollection.org/storage/v1/ingests"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}