{
  "http_interactions": [
    {
      "recorded_at": "2019-03-27T14:37:33",
      "response": {
        "body": {
          "string": "{\"access_token\":\"<ACCESS_TOKEN>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}",
          "encoding": "UTF-8"
        },
        "headers": {
          "x-amz-cognito-request-id": [
            "1333ab8b-44b5-436b-9c1b-cd6644a6f24d"
          ],
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ]
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token",
        "status": {
          "message": "OK",
          "code": 200
        }
      },
      "request": {
        "body": {
          "string": "grant_type=client_credentials",
          "encoding": "utf-8"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      }
    },
    {
      "recorded_at": "2019-03-27T14:37:33",
      "response": {
        "body": {
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"id\":\"10fd9c49-cc95-4a59-9647-ca04ff8d1970\",\"sourceLocation\":{\"provider\":{\"id\":\"aws-s3-standard\",\"type\":\"Provider\"},\"bucket\":\"testing-bucket\",\"path\":\"bagit.zip\",\"type\":\"Location\"},\"ingestType\":{\"id\":\"create\",\"type\":\"IngestType\"},\"space\":{\"id\":\"digitised\",\"type\":\"Space\"},\"status\":{\"id\":\"accepted\",\"type\":\"Status\"},\"events\":[],\"createdDate\":\"2019-03-27T14:37:33.734382Z\",\"lastModifiedDate\":\"2019-03-27T14:37:33.734382Z\",\"type\":\"Ingest\"}",
          "encoding": null
        },
        "headers": {
          "Location": [
            "https://api.wellcomecollection.org/storage/v1/ingests/10fd9c49-cc95-4a59-9647-ca04ff8d1970"
          ],
          "x-amzn-Remapped-Date": [
            "Wed, 27 Mar 2019 14:37:33 GMT"
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "dbadaae8-509d-11e9-93c1-3fd2111f4667"
          ],
          "Content-Type": [
            "application/json"
          ],
          "x-amz-apigw-id": [
            "XNKbJGcODoEFYEQ="
          ],
          "x-amzn-Remapped-Content-Length": [
            "497"
          ]
        },
        "url": "https://api.wellcomecollection.org/storage/v1/ingests",
        "status": {
          "message": "Created",
          "code": 201
        }
      },
      "request": {
        "body": {
          "string": "{\"type\": \"Ingest\", \"ingestType\": {\"type\": \"IngestType\", \"id\": \"create\"}, \"space\": {\"type\": \"Space\", \"id\": \"digitised\"}, \"sourceLocation\": {\"type\": \"Location\", \"provider\": {\"type\": \"Provider\", \"id\": \"aws-s3-standard\"}, \"path\": \"bagit.zip\", \"bucket\": \"testing-bucket\"}}",
          "encoding": "utf-8"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}