{
  "http_interactions": [
    {
      "recorded_at": "2019-07-09T12:40:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"<ACCESS_TOKEN>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ],
          "x-amz-cognito-request-id": [
            "63771d24-057d-4d73-8178-164718fdc6d6"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token"
      }
    },
    {
      "recorded_at": "2019-07-09T12:40:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ingestType\": {\"type\": \"IngestType\", \"id\": \"create\"}, \"space\": {\"type\": \"Space\", \"id\": \"digitised\"}, \"type\": \"Ingest\", \"sourceLocation\": {\"type\": \"Location\", \"bucket\": \"testing-bucket\", \"provider\": {\"type\": \"Provider\", \"id\": \"aws-s3-standard\"}, \"path\": \"bagit.zip\"}, \"bag\": {\"type\": \"Bag\", \"info\": {\"type\": \"BagInfo\", \"externalIdentifier\": \"b12345\"}}}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"id\":\"bc647d9d-6afe-402d-8957-d794a01d35e7\",\"sourceLocation\":{\"provider\":{\"id\":\"aws-s3-standard\",\"type\":\"Provider\"},\"bucket\":\"testing-bucket\",\"path\":\"bagit.zip\",\"type\":\"Location\"},\"ingestType\":{\"id\":\"create\",\"type\":\"IngestType\"},\"space\":{\"id\":\"digitised\",\"type\":\"Space\"},\"status\":{\"id\":\"accepted\",\"type\":\"Status\"},\"bag\":{\"info\":{\"externalIdentifier\":\"b12345\",\"type\":\"BagInfo\"},\"type\":\"Bag\"},\"events\":[],\"createdDate\":\"2019-07-09T12:40:26.039876Z\",\"type\":\"Ingest\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Location": [
            "https://api.wellcomecollection.org/storage/v1/ingests/bc647d9d-6afe-402d-8957-d794a01d35e7"
          ],
          "x-amz-apigw-id": [
            "cjqxDHEcDoEF_5w="
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Content-Length": [
            "525"
          ],
          "x-amzn-Remapped-Date": [
            "Tue, 09 Jul 2019 12:40:26 GMT"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "b9c88f49-a246-11e9-a5fb-07c898810107"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.wellcomecollection.org/storage/v1/ingests"
      }
    },
    {
      "recorded_at": "2019-07-09T12:40:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests/bc647d9d-6afe-402d-8957-d794a01d35e7"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"id\":\"bc647d9d-6afe-402d-8957-d794a01d35e7\",\"sourceLocation\":{\"provider\":{\"id\":\"aws-s3-standard\",\"type\":\"Provider\"},\"bucket\":\"testing-bucket\",\"path\":\"bagit.zip\",\"type\":\"Location\"},\"ingestType\":{\"id\":\"create\",\"type\":\"IngestType\"},\"space\":{\"id\":\"digitised\",\"type\":\"Space\"},\"status\":{\"id\":\"accepted\",\"type\":\"Status\"},\"bag\":{\"info\":{\"externalIdentifier\":\"b12345\",\"type\":\"BagInfo\"},\"type\":\"Bag\"},\"events\":[{\"description\":\"Unpacking started\",\"createdDate\":\"2019-07-09T12:40:26.202Z\",\"type\":\"IngestEvent\"}],\"createdDate\":\"2019-07-09T12:40:26.039Z\",\"type\":\"Ingest\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "x-amz-apigw-id": [
            "cjqxHGYrDoEFYrQ="
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Content-Length": [
            "619"
          ],
          "x-amzn-Remapped-Date": [
            "Tue, 09 Jul 2019 12:40:26 GMT"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "b9fa4e5b-a246-11e9-9057-31c36205aa93"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.wellcomecollection.org/storage/v1/ingests/bc647d9d-6afe-402d-8957-d794a01d35e7"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}