{
  "http_interactions": [
    {
      "recorded_at": "2019-07-09T12:39:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"<ACCESS_TOKEN>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ],
          "x-amz-cognito-request-id": [
            "4c98b945-449f-4fe2-aa21-6d533139258f"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token"
      }
    },
    {
      "recorded_at": "2019-07-09T12:39:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"space\": {\"id\": \"digitised\", \"type\": \"Space\"}, \"callback\": {\"type\": \"Callback\", \"url\": \"https://example.org/callback/bagit.zip\"}, \"bag\": {\"type\": \"Bag\", \"info\": {\"type\": \"BagInfo\", \"externalIdentifier\": \"b12345\"}}, \"sourceLocation\": {\"type\": \"Location\", \"provider\": {\"id\": \"aws-s3-standard\", \"type\": \"Provider\"}, \"path\": \"bagit.zip\", \"bucket\": \"testing-bucket\"}, \"type\": \"Ingest\", \"ingestType\": {\"id\": \"create\", \"type\": \"IngestType\"}}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"id\":\"b9f38eed-bb21-4952-b964-6069a6cda8b4\",\"sourceLocation\":{\"provider\":{\"id\":\"aws-s3-standard\",\"type\":\"Provider\"},\"bucket\":\"testing-bucket\",\"path\":\"bagit.zip\",\"type\":\"Location\"},\"callback\":{\"url\":\"https://example.org/callback/bagit.zip\",\"status\":{\"id\":\"processing\",\"type\":\"Status\"},\"type\":\"Callback\"},\"ingestType\":{\"id\":\"create\",\"type\":\"IngestType\"},\"space\":{\"id\":\"digitised\",\"type\":\"Space\"},\"status\":{\"id\":\"accepted\",\"type\":\"Status\"},\"bag\":{\"info\":{\"externalIdentifier\":\"b12345\",\"type\":\"BagInfo\"},\"type\":\"Bag\"},\"events\":[],\"createdDate\":\"2019-07-09T12:39:12.637160Z\",\"type\":\"Ingest\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Location": [
            "https://api.wellcomecollection.org/storage/v1/ingests/b9f38eed-bb21-4952-b964-6069a6cda8b4"
          ],
          "x-amz-apigw-id": [
            "cjqllGAEjoEFrGg="
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Content-Length": [
            "648"
          ],
          "x-amzn-Remapped-Date": [
            "Tue, 09 Jul 2019 12:39:12 GMT"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "8e03e14b-a246-11e9-8a0c-210f756f96f4"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.wellcomecollection.org/storage/v1/ingests"
      }
    },
    {
      "recorded_at": "2019-07-09T12:39:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests/b9f38eed-bb21-4952-b964-6069a6cda8b4"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"@contex[...]
