{
  "http_interactions": [
    {
      "recorded_at": "2019-03-27T14:37:34",
      "response": {
        "body": {
          "string": "{\"access_token\":\"<ACCESS_TOKEN>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}",
          "encoding": "UTF-8"
        },
        "headers": {
          "x-amz-cognito-request-id": [
            "86503c3d-13c2-4e5b-a348-681ae7d7bb9a"
          ],
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ]
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token",
        "status": {
          "message": "OK",
          "code": 200
        }
      },
      "request": {
        "body": {
          "string": "grant_type=client_credentials",
          "encoding": "utf-8"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}