{
  "http_interactions": [
    {
      "recorded_at": "2019-03-27T14:37:31",
      "response": {
        "body": {
          "string": "{\"access_token\":\"<ACCESS_TOKEN>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}",
          "encoding": "UTF-8"
        },
        "headers": {
          "x-amz-cognito-request-id": [
            "3e5343ab-579f-4a37-be6f-d1c6bab708f2"
          ],
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ]
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token",
        "status": {
          "message": "OK",
          "code": 200
        }
      },
      "request": {
        "body": {
          "string": "grant_type=client_credentials",
          "encoding": "utf-8"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      }
    },
    {
      "recorded_at": "2019-03-27T14:37:31",
      "response": {
        "body": {
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"httpStatus\":404,\"description\":\"Storage manifest alex-testing/b12345 not found\",\"label\":\"Not Found\",\"type\":\"Error\"}",
          "encoding": null
        },
        "headers": {
          "x-amzn-Remapped-Date": [
            "Wed, 27 Mar 2019 14:37:31 GMT"
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "da7021df-509d-11e9-840c-edc9bbfd4196"
          ],
          "Content-Type": [
            "application/json"
          ],
          "x-amz-apigw-id": [
            "XNKa0HOPjoEF5_A="
          ],
          "x-amzn-Remapped-Content-Length": [
            "177"
          ]
        },
        "url": "https://api.wellcomecollection.org/storage/v1/bags/alex-testing/b12345",
        "status": {
          "message": "Not Found",
          "code": 404
        }
      },
      "request": {
        "body": {
          "string": "",
          "encoding": "utf-8"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://api.wellcomecollection.org/storage/v1/bags/alex-testing/b12345"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}