{
  "http_interactions": [
    {
      "recorded_at": "2019-11-14T12:14:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"<ACCESS_TOKEN_15>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ],
          "x-amz-cognito-request-id": [
            "d879716f-308a-4667-b364-93d310eaf1d9"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token"
      }
    },
    {
      "recorded_at": "2019-11-14T12:14:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN_15>"
          ]
        },
        "method": "GET",
        "uri": "https://api.wellcomecollection.org/storage/v1/bags/digitised/b11733330?version=v1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"id\":\"digitised/b11733330\",\"space\":{\"id\":\"digitised\",\"type\":\"Space\"},\"info\":{\"externalIdentifier\":\"b11733330\",\"payloadOxum\":\"1335376.2\",\"baggingDate\":\"2019-08-22\",\"sourceOrganization\":\"Intranda GmbH\",\"externalDescription\":\"Thomas Wakley. Stipple engraving by W. H. Egleton after J.K. Meadows.\",\"type\":\"BagInfo\"},\"manifest\":{\"checksumAlgorithm\":\"SHA-256\",\"files\":[{\"checksum\":\"c195e863630433d2e5e92d5970cfab7321568657d29439c00d35e4c4f6990993\",\"name\":\"data/b11733330.xml\",\"path\":\"v1/data/b11733330.xml\",\"size\":8132,\"type\":\"File\"},{\"checksum\":\"ac4fde3a0e2188de91b3e961310a978e749cf456f18d5830ffcffd59111385ba\",\"name\":\"data/objects/L0008210-LS-CS.jp2\",\"path\":\"v1/data/objects/L0008210-LS-CS.jp2\",\"size\":1327244,\"type\":\"File\"}],\"type\":\"BagManifest\"},\"tagManifest\":{\"checksumAlgorithm\":\"SHA-256\",\"files\":[{\"checksum\":\"894867de4f57a3ed316ec43138190cdd752da95bfa68fd96a7721808bfdcbd5a\",\"name\":\"manifest-sha256.txt\",\"path\":\"v1/manifest-sha256.txt\",\"size\":183,\"type\":\"File\"},{\"checksum\":\"e91f941be5973ff71f1dccbdd1a32d598881893a7f21be516aca743da38b1689\",\"name\":\"bagit.txt\",\"path\":\"v1/bagit.txt\",\"size\":55,\"type\":\"File\"},{\"checksum\":\"d9cf709e5fb7a93a55ba9bd6b69be72a50b5921c97bc67d6e6b2c843b3c32b73\",\"name\":\"manifest-sha512.txt\",\"path\":\"v1/manifest-sha512.txt\",\"size\":311,\"type\":\"File\"},{\"checksum\":\"c793b81c816fcab9b469a6db9a1ba885f5f3ae69a8b8c71eef578e794f370e4d\",\"name\":\"bag-info.txt\",\"path\":\"v1/bag-info.txt\",\"size\":331,\"type\":\"File\"},{\"checksum\":\"8b840d1a71e0d1d127fcad5bd7ba966215161e0883390a3f746d01c438931885\",\"name\":\"tagmanifest-sha256.txt\",\"path\":\"v1/tagmanifest-sha256.txt\",\"size\":323,\"type\":\"File\"},{\"checksum\":\"ce305bde91373d26103390e939611041bd9a58ce74048c85cad7665896fbe5f6\",\"name\":\"tagmanifest-sha512.txt\",\"path\":\"v1/tagmanifest-sha512.txt\",\"size\":579,\"type\":\"File\"}],\"type\":\"BagManifest\"},\"location\":{\"provider\":{\"id\":\"aws-s3-ia\",\"type\":\"Provider\"},\"bucket\":\"wellcomecollection-storage\",\"path\":\"digitised/b11733330\",\"type\":\"Location\"},\"replicaLocations\":[{\"provider\":{\"id\":\"aws-s3-glacier\",\"type\":\"Provider\"},\"bucket\":\"wellcomecollection-storage-replica-ireland\",\"path\":\"digitised/b11733330\",\"type\":\"Location\"}],\"createdDate\":\"2019-09-12T20:26:53.094757Z\",\"version\":\"v1\",\"type\":\"Bag\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "ETag": [
            "\"digitised/b11733330/v1\""
          ],
          "x-amz-apigw-id": [
            "DJe-pHn2joEF4Pw="
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Content-Length": [
            "2252"
          ],
          "x-amzn-Remapped-Date": [
            "Thu, 14 Nov 2019 12:14:34 GMT"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "4eda9e84-8d14-408f-a443-b39e68f39003"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.wellcomecollection.org/storage/v1/bags/digitised/b11733330?version=v1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}