{
  "http_interactions": [
    {
      "recorded_at": "2019-03-27T14:37:33",
      "response": {
        "body": {
          "string": "{\"access_token\":\"<ACCESS_TOKEN>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}",
          "encoding": "UTF-8"
        },
        "headers": {
          "x-amz-cognito-request-id": [
            "5e63904f-b663-4ce2-b67e-d2ebf33af361"
          ],
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ]
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token",
        "status": {
          "message": "OK",
          "code": 200
        }
      },
      "request": {
        "body": {
          "string": "grant_type=client_credentials",
          "encoding": "utf-8"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      }
    },
    {
      "recorded_at": "2019-03-27T14:37:34",
      "response": {
        "body": {
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"id\":\"3655101d-fd99-4b0b-b978-a24ca63db1fd\",\"sourceLocation\":{\"provider\":{\"id\":\"aws-s3-standard\",\"type\":\"Provider\"},\"bucket\":\"testing-bucket\",\"path\":\"bagit.zip\",\"type\":\"Location\"},\"callback\":{\"url\":\"https://example.org/callback/bagit.zip\",\"status\":{\"id\":\"processing\",\"type\":\"Status\"},\"type\":\"Callback\"},\"ingestType\":{\"id\":\"create\",\"type\":\"IngestType\"},\"space\":{\"id\":\"digitised\",\"type\":\"Space\"},\"status\":{\"id\":\"accepted\",\"type\":\"Status\"},\"events\":[],\"createdDate\":\"2019-03-27T14:37:34.063685Z\",\"lastModifiedDate\":\"2019-03-27T14:37:34.063685Z\",\"type\":\"Ingest\"}",
          "encoding": null
        },
        "headers": {
          "Location": [
            "https://api.wellcomecollection.org/storage/v1/ingests/3655101d-fd99-4b0b-b978-a24ca63db1fd"
          ],
          "x-amzn-Remapped-Date": [
            "Wed, 27 Mar 2019 14:37:34 GMT"
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "dbe02ca6-509d-11e9-81cc-89b7b83f3c97"
          ],
          "Content-Type": [
            "application/json"
          ],
          "x-amz-apigw-id": [
            "XNKbMEXzDoEF77g="
          ],
          "x-amzn-Remapped-Content-Length": [
            "620"
          ]
        },
        "url": "https://api.wellcomecollection.org/storage/v1/ingests",
        "status": {
          "message": "Created",
          "code": 201
        }
      },
      "request": {
        "body": {
          "string": "{\"callback\": {\"type\": \"Callback\", \"url\": \"https://example.org/callback/bagit.zip\"}, \"type\": \"Ingest\", \"ingestType\": {\"type\": \"IngestType\", \"id\": \"create\"}, \"space\": {\"type\": \"Space\", \"id\": \"digitised\"}, \"sourceLocation\": {\"type\": \"Location\", \"provider\": {\"type\": \"Provider\", \"id\": \"aws-s3-standard\"}, \"path\": \"bagit.zip\", \"bucket\": \"testing-bucket\"}}",
          "encoding": "utf-8"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests"
      }
    },
    {
      "recorded_at": "2019-03-27T14:37:34",
      "response": {
        "body": {
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"id\":\"3655101d-fd99-4b0b-b978-a24ca63db1fd\",\"sourceLocation\":{\"provider\":{\"id\":\"aws-s3-standard\",\"type\":\"Provider\"},\"bucket\":\"testing-bucket\",\"path\":\"bagit.zip\",\"type\":\"Location\"},\"callback\":{\"url\":\"https://example.org/callback/bagit.zip\",\"status\":{\"id\":\"processing\",\"type\":\"Status\[...]
