{
  "http_interactions": [
    {
      "recorded_at": "2019-07-09T12:39:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"<ACCESS_TOKEN>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ],
          "x-amz-cognito-request-id": [
            "d0b6ccf1-6570-42bb-bb64-ea0e4a61bf30"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token"
      }
    },
    {
      "recorded_at": "2019-07-09T12:39:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"type\": \"Ingest\", \"space\": {\"id\": \"digitised\", \"type\": \"Space\"}, \"sourceLocation\": {\"type\": \"Location\", \"provider\": {\"id\": \"aws-s3-standard\", \"type\": \"Provider\"}, \"path\": \"bagit.zip\", \"bucket\": \"testing-bucket\"}, \"bag\": {\"type\": \"Bag\", \"info\": {\"type\": \"BagInfo\", \"externalIdentifier\": \"b12345\"}}, \"ingestType\": {\"id\": \"create\", \"type\": \"IngestType\"}}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"id\":\"0d211b72-9d18-4e8c-aa9c-ea263b73273d\",\"sourceLocation\":{\"provider\":{\"id\":\"aws-s3-standard\",\"type\":\"Provider\"},\"bucket\":\"testing-bucket\",\"path\":\"bagit.zip\",\"type\":\"Location\"},\"ingestType\":{\"id\":\"create\",\"type\":\"IngestType\"},\"space\":{\"id\":\"digitised\",\"type\":\"Space\"},\"status\":{\"id\":\"accepted\",\"type\":\"Status\"},\"bag\":{\"info\":{\"externalIdentifier\":\"b12345\",\"type\":\"BagInfo\"},\"type\":\"Bag\"},\"events\":[],\"createdDate\":\"2019-07-09T12:39:14.146758Z\",\"type\":\"Ingest\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Location": [
            "https://api.wellcomecollection.org/storage/v1/ingests/0d211b72-9d18-4e8c-aa9c-ea263b73273d"
          ],
          "x-amz-apigw-id": [
            "cjql0Ep7joEFfdw="
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Content-Length": [
            "525"
          ],
          "x-amzn-Remapped-Date": [
            "Tue, 09 Jul 2019 12:39:14 GMT"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "8ee874f7-a246-11e9-a802-9ff4f220a590"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.wellcomecollection.org/storage/v1/ingests"
      }
    },
    {
      "recorded_at": "2019-07-09T12:39:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://api.wellcomecollection.org/storage/v1/ingests/0d211b72-9d18-4e8c-aa9c-ea263b73273d"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"id\":\"0d211b72-9d18-4e8c-aa9c-ea263b73273d\",\"sourceLocation\":{\"provider\":{\"id\":\"aws-s3-standard\",\"type\":\"Provider\"},\"bucket\":\"testing-bucket\",\"path\":\"bagit.zip\",\"type\":\"Location\"},\"ingestType\":{\"id\":\"create\",\"type\":\"IngestType\"},\"space\":{\"id\":\"digitised\",\"type\":\"Space\"},\"status\":{\"id\":\"accepted\",\"type\":\"Status\"},\"bag\":{\"info\":{\"externalIdentifier\":\"b12345\",\"type\":\"BagInfo\"},\"type\":\"Bag\"},\"events\":[{\"description\":\"Unpacking started\",\"createdDate\":\"2019-07-09T12:39:14.396Z\",\"type\":\"IngestEvent\"}],\"createdDate\":\"2019-07-09T12:39:14.146Z\",\"type\":\"Ingest\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "x-amz-apigw-id": [
            "cjql6HMRjoEFblw="
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Content-Length": [
            "619"
          ],
          "x-amzn-Remapped-Date": [
            "Tue, 09 Jul 2019 12:39:14 GMT"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "8f427b54-a246-11e9-8d75-41319c4cd0d7"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.wellcomecollection.org/storage/v1/ingests/0d211b72-9d18-4e8c-aa9c-ea263b73273d"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}