{
  "http_interactions": [
    {
      "recorded_at": "2019-07-09T12:38:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ]
        },
        "method": "POST",
        "uri": "https://auth.wellcomecollection.org/oauth2/token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\":\"<ACCESS_TOKEN>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ],
          "x-amz-cognito-request-id": [
            "74120e63-3bd1-43a0-99f4-6826a8a07d5a"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token"
      }
    },
    {
      "recorded_at": "2019-07-09T12:38:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://api.wellcomecollection.org/storage/v1/bags/alex-testing/doesnotexist"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"httpStatus\":404,\"description\":\"Storage manifest alex-testing/doesnotexist not found\",\"label\":\"Not Found\",\"type\":\"Error\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "x-amz-apigw-id": [
            "cjqjbGTwjoEFgMg="
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "x-amzn-Remapped-Content-Length": [
            "183"
          ],
          "x-amzn-Remapped-Date": [
            "Tue, 09 Jul 2019 12:38:59 GMT"
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ],
          "x-amzn-RequestId": [
            "85c43760-a246-11e9-abf9-652477470f4b"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://api.wellcomecollection.org/storage/v1/bags/alex-testing/doesnotexist"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}