{
  "recorded_with": "betamax/0.8.1",
  "http_interactions": [
    {
      "response": {
        "body": {
          "string": "{\"access_token\":\"<ACCESS_TOKEN>\",\"expires_in\":3600,\"token_type\":\"Bearer\"}",
          "encoding": "UTF-8"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "x-amz-cognito-request-id": [
            "4eda0b85-d74f-460c-bd36-a47df93f267c"
          ],
          "X-Application-Context": [
            "application:prod:8443"
          ]
        },
        "url": "https://auth.wellcomecollection.org/oauth2/token",
        "status": {
          "message": "OK",
          "code": 200
        }
      },
      "recorded_at": "2019-03-27T14:42:59",
      "request": {
        "body": {
          "string": "grant_type=client_credentials",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded;charset=UTF-8"
          ],
          "Authorization": [
            "<AUTH_TOKEN>"
          ]
        },
        "uri": "https://auth.wellcomecollection.org/oauth2/token",
        "method": "POST"
      }
    },
    {
      "response": {
        "body": {
          "string": "{\"@context\":\"https://api.wellcomecollection.org/context.json\",\"id\":\"d34c8e61-c274-4307-8123-d6ead049b649\",\"sourceLocation\":{\"provider\":{\"id\":\"aws-s3-standard\",\"type\":\"Provider\"},\"bucket\":\"testing-bucket\",\"path\":\"bagit.zip\",\"type\":\"Location\"},\"ingestType\":{\"id\":\"create\",\"type\":\"IngestType\"},\"space\":{\"id\":\"digitised\",\"type\":\"Space\"},\"status\":{\"id\":\"accepted\",\"type\":\"Status\"},\"events\":[],\"createdDate\":\"2019-03-27T14:42:59.266486Z\",\"lastModifiedDate\":\"2019-03-27T14:42:59.266486Z\",\"type\":\"Ingest\"}",
          "encoding": null
        },
        "headers": {
          "x-amzn-RequestId": [
            "9da917c5-509e-11e9-ab9c-09022da4b9ca"
          ],
          "x-amzn-Remapped-Date": [
            "Wed, 27 Mar 2019 14:42:59 GMT"
          ],
          "Content-Type": [
            "application/json"
          ],
          "x-amzn-Remapped-Connection": [
            "keep-alive"
          ],
          "Location": [
            "https://api.wellcomecollection.org/storage/v1/ingests/d34c8e61-c274-4307-8123-d6ead049b649"
          ],
          "x-amzn-Remapped-Content-Length": [
            "497"
          ],
          "x-amz-apigw-id": [
            "XNLN_Fx1joEFWlg="
          ],
          "x-amzn-Remapped-Server": [
            "nginx"
          ]
        },
        "url": "https://api.wellcomecollection.org/storage/v1/ingests",
        "status": {
          "message": "Created",
          "code": 201
        }
      },
      "recorded_at": "2019-03-27T14:42:59",
      "request": {
        "body": {
          "string": "{\"sourceLocation\": {\"provider\": {\"id\": \"aws-s3-standard\", \"type\": \"Provider\"}, \"path\": \"bagit.zip\", \"bucket\": \"testing-bucket\", \"type\": \"Location\"}, \"ingestType\"[...]
