[run]
branch = True
include =
    **/.tox/*/lib/*/site-packages/wellcome_storage_service/*.py

[report]
show_missing = True
fail_under = 100
exclude_lines =
    @abc.abstractmethod
    Python 2
    pragma: no cover
