boto3==1.43.6
botocore==1.43.6
certifi==2026.4.22
click==8.3.3
elastic-transport==8.17.1
elasticsearch==8.19.3
jmespath==1.1.0
python-dateutil==2.9.0.post0
s3transfer==0.17.0
six==1.17.0
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.7.0
