<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

  <!-- reduce external logging -->
  <logger name="org.apache.http" level="ERROR"/>
  <logger name="io.netty" level="ERROR"/>
  <logger name="com.amazonaws" level="WARN"/>
  <logger name="software.amazon.awssdk" level="WARN"/>

  <!-- Disable DEBUG logs from the MemoryVersionedStore class because the `it("can store a very large bag")` test
   makes it log 100,000 items, which causes timeout issues -->
  <logger name="weco.storage.store.memory.MemoryVersionedStore" level="INFO"/>
</configuration>
