<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %X{ingestId} %X{externalIdentifier} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashUdpSocketAppender">
    <layout class="net.logstash.logback.layout.LogstashLayout">
      <customFields>
        {"introspection": {"namespace":"${NAMESPACE:-unset}","service_id":"${SERVICE_ID:-unset}","task_id": "${TASK_ID:-unset}","image_id": "${IMAGE_ID:-unset}"}}
      </customFields>
    </layout>

    <host>${logstash_host}</host>
    <port>514</port>
  </appender>

  <root level="${log_level:-INFO}">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="LOGSTASH"/>
  </root>

  <!-- reduce external logging -->
  <logger name="org.apache.http" level="ERROR"/>
  <logger name="io.netty" level="ERROR"/>
  <logger name="com.amazonaws" level="WARN"/>
</configuration>
