<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="${log_level:-INFO}">
    <appender-ref ref="STDOUT" />
  </root>

  <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashUdpSocketAppender">
    <layout class="net.logstash.logback.layout.LogstashLayout"/>

    <host>${logstash_host}</host>
    <port>514</port>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="LOGSTASH" />
  </root>

  <!-- reduce external logging -->
  <logger name="org.apache.http" level="ERROR"/>
  <logger name="io.netty" level="ERROR"/>
  <logger name="com.amazonaws" level="WARN"/>
</configuration>
