<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

  <!-- reduce external logging -->
  <logger name="org.apache.http" level="ERROR"/>
  <logger name="io.netty" level="ERROR"/>
  <logger name="com.amazonaws" level="WARN"/>
  <logger name="software.amazon.awssdk" level="WARN"/>

  <!-- This class logs the merged Akka config at INFO level -->
  <logger name="akka.actor.ActorSystemImpl" level="WARN"/>
</configuration>
